### Name :- Shraddha Pandit Pawar
### Batch no :- ML-18
### Que 3
### Dataset :- Fraud dataset

##### Importing libraries and data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [23]:
from sklearn.model_selection import train_test_split
#from sklearn.compose import columnTransformer
#from sklearn.pipeline import Pipline
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler, OneHotEncoder
#from sklearn.linear_model import logisticRegression

In [2]:
df = pd.read_csv('Fraud_check.csv.csv')

In [4]:
df.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Undergrad        600 non-null    object
 1   Marital.Status   600 non-null    object
 2   Taxable.Income   600 non-null    int64
 3   City.Population  600 non-null    int64
 4   Work.Experience  600 non-null    int64
 5   Urban            600 non-null    object
dtypes: int64(3), object(3)
memory usage: 28.2+ KB

In [6]:
df.describe()

       Taxable.Income  City.Population  Work.Experience
count      600.000000       600.000000       600.000000
mean     55208.375000    108747.368333        15.558333
std      26204.827597     49850.075134         8.842147
min      10003.000000     25779.000000         0.000000
25%      32871.500000     66966.750000         8.000000
50%      55074.500000    106493.500000        15.000000
75%      78611.750000    150114.250000        24.000000
max      99619.000000    199778.000000        30.000000

In [7]:
income_1 = df['Taxable.Income'].head()

In [13]:
for income in income_1:
    print(income)
    if income <= 30000:
        print('Above income is Good')
    else:
        print('Above income is bad')

68833
Above income is bad
33700
Above income is bad
36925
Above income is bad
50190
Above income is bad
81002
Above income is bad

In [15]:
df.drop("Undergrad",axis=1,inplace=True)

In [24]:
df.drop("Marital.Status",axis=1,inplace=True)

In [25]:
df.drop("Urban",axis=1,inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Marital.Status   600 non-null    object
 1   Taxable.Income   600 non-null    int64
 2   City.Population  600 non-null    int64
 3   Work.Experience  600 non-null    int64
 4   Urban            600 non-null    object
dtypes: int64(3), object(2)
memory usage: 23.6+ KB

### Splitting and Scaling

In [26]:
y = df['Work.Experience']
X = df.drop('Taxable.Income', axis=1)

In [27]:
scaler = MinMaxScaler()

X = pd.DataFrame(scaler.fit_transform(X), columns=X.columns)

In [28]:
X

     City.Population  Work.Experience
0           0.139472         0.333333
1           0.622394         0.600000
2           0.772568         1.000000
3           0.962563         0.500000
4           0.010081         0.933333
..               ...              ...
595         0.078811         0.233333
596         0.170058         0.066667
597         0.737240         0.000000
598         0.886810         0.566667
599         0.760683         0.533333

[600 rows x 2 columns]

In [29]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City.Population  600 non-null    float64
 1   Work.Experience  600 non-null    float64
dtypes: float64(2)
memory usage: 9.5 KB

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7)

### Logistic Regression

In [1]:
from sklearn.linear_model import LogisticRegression

log_model = LogisticRegression()

log_model.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [2]:
log_model.fit(X_train, y_train)
y_pred=log_model.predict(X_test)

NameError: name 'X_train' is not defined